/*HEADER*/
.header{
    background-color: #000;
}

.header-container{
    justify-content: space-between;
    align-items: center;
    gap: 10px 30px;
}

.header-menu{
    gap: 40px;
}

.header-menu a{
    color: var(--text1);
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 400;

    padding: 16px 0;
    display: inline-block;

    position: relative;
}

.header-menu a::after{
    content: "";
    background-color: var(--text1);

    display: block;
    height: 2px;
    width: 0;
    margin-top: 5px;
    transition: 0.3s;

    position: absolute;
}

.header-menu a:hover:after{
    width: 100%;
}

@media screen and (max-width: 800px) {
    .header-menu{
        gap: 20px;
    }

    .header-menu a{
        background-color: var(--background2);
        border-radius: 5px;

        padding: 12px 16px;
    }

    .header-menu a:hover{
        background-color: var(--backgroun3);
    }

    .header a::after{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .botao{
        padding: 12px 16px;
        font-size: 16px;
    }

    .header-menu{
        gap: 12px;
    }

    .header-menu a{
        padding: 8px 12px;
        font-size: 14px;
    }
}